* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #433D60;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px auto; 
    padding: 20px 40px;
}

.img-logo {
    width: 70px;
    height: 50px;
}

.img-hydra {
    width: 60px;
    height: 40px;
}

.nav-page {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.button-contact {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    background-color: #433D60;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-shadow: 0px 2px 2px #000000;
}

.button-contact:hover {
    background-color: #8c82b9;
    opacity: 0.8;
    transition: 0.6s;
}

.button-join {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    margin: 0px 30px 0px 30px;
    cursor: pointer;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;                   
    margin: 0 auto;            
}

.title-content {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.span-content {
     background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 46px;
}

.paragraph-content {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: px;
}

.button-build-container {
    display: flex;
    align-items: center;
}

.button-build {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    cursor: pointer;
}

.arrow {
    width: 100px;
    height: 100px;
}

.image-home img {
    width: 400px;
    height: 300px;
}

.information-store {
    width: 1200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    flex-direction: row;
    border-radius: 90px;
    background: radial-gradient(circle at top left, #3A3456 0%, #211E2E 100%);
    margin: 0 auto;
    padding: 0 40px;
}

.information {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    position: relative;
    flex: 1;
    justify-content: center;
}

.information:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-text h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.info-text p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 100;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 450px;
    background: radial-gradient(circle at top left, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
    padding: 23px 45px 40px 45px;
    margin-top: 50px;
}

.card h2 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.card p {
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 15px;
}

.button-card {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    cursor: pointer;
    margin-top: 30px;
}














