* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #433D60;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}

.logo-nav {
    margin-left: 20px;
}

.img-logo {
    width: 70px;
    height: 50px;
}

.img-hydra {
    width: 60px;
    height: 40px;
}

.nav-page {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.button-contact {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    background-color: #433D60;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-shadow: 0px 2px 2px #000000;
}

.button-contact:hover {
    background-color: #8c82b9;
    opacity: 0.8;
    transition: 0.6s;
}

.button-join {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    margin: 0px 30px 0px 30px;
    cursor: pointer;
}







