* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #433D60;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 20px auto 0; 
    padding: 20px 40px;
}

.img-logo {
    width: 70px;
    height: 50px;
}

.img-hydra {
    width: 60px;
    height: 40px;
}

.nav-page {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.button-contact {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    background-color: #433D60;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    text-shadow: 0px 2px 2px #000000;
}

.button-contact:hover {
    background-color: #8c82b9;
    opacity: 0.8;
    transition: 0.6s;
}

.button-join {
    width: 120px;
    height: 44px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    margin: 0px 30px 0px 30px;
    cursor: pointer;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;                   
    margin: 0 auto;             
}

.title-content {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.span-content {
     background: linear-gradient(90deg, #C0B7E8 0%, #8176AF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 46px;
}

.paragraph-content {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.button-build-container {
    display: flex;
    align-items: center;
}

.button-build {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #8176AF;
    background: -webkit-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: -moz-linear-gradient(left, #8176AF 0%, #C0B7E8 100%);
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-weight: bold;
    font-size: 10px;
    color: #343045;
    cursor: pointer;
}

.arrow {
    width: 100px;
    height: 100px;
}

.image-home img {
    width: 450px;
    height: 350px;
}











